
.calculatorBody {
    margin: 16% 30%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.479);
    width: fit-content;
    padding: 30px;
}
.calculatorButtons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
}

#display {
    width: 100%;
    height: 80px;
    border: none;
    color: rgba(2, 2, 37, 0.61);
    font-weight: bold;
    font-size: 21px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.479);
    margin: 5px 5px;
}

#number {
    height: 85px;
    width: 89px;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    border: none;
    color: rgba(2, 2, 37, 0.61);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.479);
    margin: 5px 5px;
}

#symbol {
    height: 85px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 50%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.479);
    margin: 5px 5px;
}

#bottomButton {
    height: 85px;
    width: 89px;
    background-color: rgba(60, 219, 28, 0.459);
    border-radius: 50%;
    padding: 12px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.479);
    margin: 5px 5px;
}

#number:focus,
#bottomButton:focus,
#symbol:focus {
    animation-name: button;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

@keyframes button {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}