.spaceDiv{
    margin-top: 120px;
}
#toToListBody{
background-color: aliceblue;
filter: drop-shadow( 4px 8px rgba(13, 184, 13, 0.473)) ;
border-radius: 20px;
margin: auto;
padding: 25px;
height: auto;
width: 422px;
margin-bottom: 58px;
}
.headerText{
color: rgba(17, 5, 17, 0.795);
text-align: center;
text-transform: uppercase;
border: 3px solid lime;
padding: 10px 20px;
border-radius: 6px;
}
#form{
    display: flex;
    justify-content: space-around;
}
.data{
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    width: 385px;
    height: auto;
    border-radius: 5px;
    height: auto;
    margin: 10px 5px;
    background-image: linear-gradient(to left,rgba(0, 0, 139, 0.829),rgba(3, 53, 53, 0.171),rgb(219, 9, 125));
}

#addNewData{
    border: 2px solid lime;
    padding:14px 14px;
    color: white;
    font-size: 20px;
    width: 245px;
    margin: 20px 10px;
    border-radius: 20px;
    background-image: linear-gradient(to left,rgba(0, 0, 139, 0.829),rgba(3, 36, 36, 0.425),rgb(219, 9, 125));
}
#addNewData:focus{
    border: none;
}

#addButton{
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 55px;
    margin-top: 20px;
    background-image: linear-gradient(to left,rgba(0, 0, 139, 0.829),rgba(2, 31, 31, 0.459),rgb(219, 9, 125));
}
#addButton:hover{
    box-shadow: 4px 6px rgba(0, 255, 0, 0.575);
    cursor: pointer;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#delete{
 border: none;
    border-radius: 20px;
    color: red;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    width: 100px;
    height: 45px;
    margin-top: 14px;
    border: 2px solid lime;
    background-image: linear-gradient(to left,rgba(0, 0, 139, 0.829),rgba(4, 66, 66, 0.425),rgb(219, 9, 125));
}
#delete:hover{
    cursor: pointer;
    box-shadow: 0 4px cyan;
}