.progress-bar{
  position: relative;
  background-color: rgba(240, 248, 255, 0.5);
  width: 350px;
  margin: 100px auto;
  border-radius: 25px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  line-height: 28px;
  border: 2px solid rgba(0, 17, 255, 0.596);
}
.progress{
  position: absolute;
  background-color: rgba(0, 0, 139, 0.568);
  width: 100%;
  height: 28px;
  top: -1px;
}
.text-div{color: rgba(40, 233, 15, 0.61); font-size: 20px; margin-top: 10px; text-align: center;}
