.folderWork {
  height: 200px;
  width: 100%;
  padding-bottom: 20px;
  background-color: rgba(9, 150, 119, 0.3);
  height: 100vh;
  padding-top: 25px;
}
#root{
  background-color: rgba(0, 0, 139, 0.3);
}

.folderName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 22px;
  margin-top: 5px;
  background-color: rgba(35, 156, 31, 0.4);
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  width: 40%;
  padding: 3px;
  padding-left: 10px;
}

.folderFiles {
  flex-direction: column;
  gap: 10px;
  margin-left: 90px;
  margin-top: 4px;
  font-size: 20px;
  color: rgb(3, 22, 63);
  text-shadow: 1px 2px rgba(0, 255, 0, 0.664);
}

#files {
  background-image: to right lime, darkblue, cyan;
}

.addFolder>button {
  padding: 3px 10px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 5px;
  background-color: rgba(35, 156, 31, 0.4);
  border: none;
  font-size: 20px;
}

.addFolder>button:hover {
  cursor: pointer;
  background-color: rgba(10, 168, 147, 0.4);
}

#newFolder {
  border: 1px solid darkblue;
  background-color: rgba(0, 255, 0, 0.404);
  color: white;
  font-size: 20px;
}

.navLink>a {
  text-decoration: none;
  margin: 40px 40px;
  color: white;
}
.navLink{
  background-color: rgba(0, 0, 139, 0.493);
  border-radius: 28px;
  height: 58px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  position: sticky;
  top: 10px;
}

.marginDiv {
  margin-top: 45px;
}

.footer{
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
  background-color: rgba(8, 8, 122, 0.582);
  padding-top: 120px;
  padding-left: 35%;
}

.foldersPresent{
  margin-left: 25%;
  margin-bottom: 40px;
}
.navbarColor{
  background-color: rgba(8, 8, 122, 0.582);
  color: white;
  font-size: 25px; 
}